:root{
    --navtext:#E0AC9D;
    --nav:#484A47;
    --background:#8FC0A9;
    --text:#07004D;
}

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    background: var(--background);
    font-family: 'Nanum Pen Script', cursive;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    font-size: 50px;
    background-color: var(--nav);
    color: var(--navtext);
    font-weight: bold;
    font-family: 'Nanum Pen Script', cursive;
    


}

a{
    text-decoration: none;
    color: var(--navtext);
    padding:10px;
    
}

h1{
    display:flex;
    justify-content: center;
    font-size: 60px;
    padding:20px;
    color:var(--text)

}

a:hover{
    font-size: 55px;
    padding:5px;
}

section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-gap: 20px;
    margin:20px;
}

.card-div{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 10px solid var(--nav);
    border-radius: 10px;
    padding: 20px;
    color: var(--text)

}

.title-card{
    font-size: 40px;
    font-weight: bold;
    padding:10px;
}

.pseudonym-card{
    font-size: 20px;
    font-style: italic;
    padding:10px;

}

.content-card{
    font-size:30px;
    padding:10px;
}



